html, body {
    background-color: #E9E9E9;
}

.grid-item {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.grid-item p {
    padding: 0 10px;
}